@import "../../scss/main.scss";

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
}

.profile {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  overflow: hidden;
  border: 4px solid $white;
  font-size: 0;
  margin: 0 auto 20px;
  position: relative;

  &__image {
    width: 100%;
    height: auto;
  }

  @media (min-width: $large) {
    &:hover {
      .button {
        opacity: 1;
      }
    }
  }
}

.name,
.city,
.bio {
  text-align: center;
  color: $white;
}

.name {
  font-size: 38px;
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  margin-bottom: 10px;
}

.city,
.bio {
  font-family: $font-family--default;
}

.city {
  font-size: 19px;
  margin-bottom: 25px;
}

.bio {
  font-size: 15px;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  line-height: 25px;

  &::before {
    content: "";
    height: 3px;
    background: $red;
    display: block;
    border-radius: $border-radius;
    margin-bottom: 15px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;

  &__item {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__icon {
    font-size: 24px;
    fill: $white;
    transition: fill 0.8s ease-in-out;

    &:hover {
      fill: $red;
    }
  }
}

.button {
  font-size: 21px;
  fill: $white;
  position: absolute;
  right: 60px;
  background: $red;
  z-index: 2;
  padding: 8px;
  bottom: 54px;
  border-radius: 100%;
  transition: background 0.8s ease-in-out;

  &:hover {
    background: darken($red, 5%);
  }

  @media (min-width: $large) {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
}

// Modal

.modal {
  width: 100%;
  height: 100vh;
  background: rgba($dark, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 90%;
    max-width: 470px;
    background: $black;
    border-radius: $border-radius;
    padding: 20px;
    box-sizing: border-box;
  }
}
