@import '../../scss/main.scss';

.content {
    width: 90%;
    max-width: 1350px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

    @media(min-width: $small) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: $large) {
      grid-template-columns: repeat(3, 1fr);
    }
}
