.banner {
  position: relative;
  height: calc(100vh - 58px);
  display: flex;
  align-items: center;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7189250700280112) 80%);
  }

  &__info {
    padding: 0 15%;
    width: 90%;
    max-width: 750px;
    position: relative;
    z-index: 2;
  }

  &__title {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 400;
    font-size: 80px;
    letter-spacing: 2px;
    color: #fff;
  }

  &__description {
    font-family: "Open sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 35px
  }

  &__data {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  &__metascore {
    display: flex;
    color: #fff;
    align-items: center;
    margin-left: 20px;
    background: #f2d86f;
    font-family: "Open sans", sans-serif;
    padding: 12px 15px;
    border-radius: 3px;
    font-size: 15px;

    &-number {
      display: block;
      margin-left: 5px;
      font-size: 16px;
    }
  }

  &__platforms {
    display: flex;
  }

  &__platform {
    list-style: none;
    margin-right: 30px;

    &-image {
      height: 23px;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__genres {
    margin-left: 20px;
    font-size: 15px;
    color: #fff;
    font-family: "Open sans", sans-serif;
  }

  &__genre {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.button {
  border: 0;
  outline: none;
  font-family: "Open sans", sans-serif;
  background: #bc1c1c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 15px;
}
