@import '../../scss/main.scss';

.banner {
  align-items: center;
  background-size: cover;
  display: flex;
  height: rem(300);
  justify-content: center;
  position: relative;

  @media(min-width: $small) {
    height: rem(355);
  }

  @media(min-width: $medium) {
    height: calc(100vh - 52px);
  }

  &::after {
    background: $black;
    background: linear-gradient(180deg, rgba($black,0) 0%, rgba($black, .7189250700280112) 80%);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .play {
    fill: $white;
    font-size: rem(30);
    position: relative;
    z-index: 2;

    @media(min-width: $medium) {
      display: none;
    }
  }

  &__info {
    margin: rem(50) auto;
    max-width: rem(750);
    position: relative;
    width: 90%;
    z-index: 2;

    @media(min-width: $medium) {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 52px);
      justify-content: center;
      margin: 0;
      max-width: rem(692);
      padding: 0 5%;
      position: absolute;
      top: calc(0vh + 52px);
      width: 100%;

      @media(min-width: $large) {
        max-width: none;
        padding: 0 10%;
      }
    }
  }

  &__title {
    color: $white;
    font-family: $font-family--secondary;
    font-size: rem(70);
    font-weight: $font-weight--regular;
    letter-spacing: rem(2);
    margin-bottom: rem(15);

    @media(min-width: $large) {
      font-size: rem(80);
      margin-bottom: 0;
      max-width: rem(700);
    }
  }

  &__description {
    color: $white;
    font-family: $font-family--default;
    font-size: rem(15);
    font-weight: $font-weight--regular;
    line-height: rem(23);
    margin-bottom: rem(35);

    @media(min-width: $medium) {
      max-width: rem(615);
    }

    @media(min-width: $large) {
      font-size: rem(16);
      line-height: rem(24);
      max-width: rem(700);
    }
  }

  &__data {
    align-items: center;
    display: flex;
    margin-bottom: rem(35);
    max-width: 100%;
    overflow-y: scroll;
  }

  &__metascore {
    align-items: center;
    background: $yellow;
    border-radius: $border-radius;
    color: $white;
    display: flex;
    font-family: $font-family--default;
    font-size: rem(15);
    margin-left: rem(20);
    padding: rem(12) rem(15);

    &-number {
      display: block;
      font-size: rem(16);
      margin-left: rem(5);
    }
  }

  &__platforms {
    display: flex;
  }

  &__platform {
    list-style: none;
    margin-right: rem(30);

    &-image {
      height: rem(23);
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__genres {
    color: $white;
    font-family: $font-family--default;
    font-size: rem(15);
    margin-left: rem(20);
  }

  &__genre {
    display: inline-block;
    font-size: rem(15);
    margin-right: rem(10);

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.button {
  border-radius: $border-radius;
  border: 0;
  color: $white;
  font-family: $font-family--default;
  font-size: rem(15);
  margin-right: rem(20);
  outline: none;
  padding: rem(10) rem(20);

  &:last-of-type {
    margin-right: 0;
  }
  
  &--add {
    background: $red;
  }

  &--delete {
    background: $dark;
  }

  &--video {
    background: $green;
  }
}


.video__main {
  align-items: center;
  background: rgba($black-two, .95);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.video__content {
  height: 0;
  overflow: hidden;
  padding-bottom: 85.25%;
  position: relative;
  width: 88%;

  @media(min-width: $small) {
    padding-bottom: 66%;
  }

  @media(min-width: $medium) {
    padding-bottom: 50%;
  }

  @media(min-width: $medium) {
    padding-bottom: 34%;
    width: 61%;
  }
}

.video__iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.video__close {
  bottom: rem(27);
  fill: $white;
  font-size: rem(27);
  position: absolute;
  transform: rotate(45deg);

  &:hover {
    cursor: pointer;
    fill: $red;
  }

  @media(min-width: $medium) {
    bottom: rem(55);
    font-size: rem(43);
  }
}
