@import '../../scss/main.scss';

.container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 18px 0;
  background: $green;
}

.message {
  color: #fff;
  font-family: $font-family--default;
  font-weight: $font-weight--regular;
  font-size: 17px;
  text-align: center;
}
