@import '../../scss/main.scss';

.container {
  background: $green;
  bottom: 0;
  left: 0;
  padding: 18px 0;
  position: fixed;
  width: 100%;
}

.message {
  color: $white;
  font-family: $font-family--default;
  font-size: 17px;
  font-weight: $font-weight--regular;
  text-align: center;
}
