html {
  background: #0f0e0e;
}

.genders {
  padding: 100px 0 30px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #fcfcfc;
  width: 90%;
  max-width: 1000px;
}

.cards {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
