@import '../../scss/main.scss';

html {
  background: $dark;
}

.genders {
  background: darken($dark-blue, 5%);
  box-shadow: inset 0 0 2px #000;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
