@import '../../scss/main.scss';

html {
  background-color: $dark;
}

.genders {
  background-color: darken($dark-blue, 5%);
  box-shadow: inset 0 0 2px #000;
  display: flex;
  justify-content: center;
  padding: rem(10) 0;
}
