@import '../../scss/main.scss';

.item {
  border-radius: $border-radius;
  font-size: 0;
  overflow: hidden;
  position: relative;

  &:hover {
    .image {
      transform: scale(1.9) rotate(-20deg);
    }
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: $border-radius;
  position: relative;
  transition: transform .8s ease-in-out;
}

.info {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $black;
  background: linear-gradient(
    180deg,
    rgba($black, 0) 0%,
    rgba($black, .7189250700280112) 48%
  );
  padding: rem(20);
  box-sizing: border-box;
}

.name {
  color: $white;
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  font-size: rem(42);
}
