.container {
  padding: 50px 15%;
  position: fixed;
  bottom: 0;
  background: darken(#1c1c1c, 5%);
  width: 100%;
}

.title {
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 35px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.item {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 6px;
  position: relative;
}

.info {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7189250700280112) 48%
  );
  padding: 20px;
  box-sizing: border-box;
}

.name {
  color: #fff;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
  font-size: 42px;
}
