.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15%;
  background: #1a1a2e;
}

.logo {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: -1px;
  color: #fff;
}

.search {
  width: 90%;
  max-width: 600px;
  border: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
}
