@import '../../scss/main.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background: $blue;

  @media(min-width: $large) {
    padding: 10px 10%;
  }
}

.logo {
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  font-size: 32px;
  letter-spacing: -1px;
  color: #fff;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;

    &:last-of-type {
      margin-right: 0;
    }

    &__icon {
      fill: $white;
      transition: fill .8s ease-in-out;
    }

    &__text {
      color: $white;
      font-family: $font-family--default;
      font-weight: $font-weight--light;
      font-size: 15px;
      display: block;
      margin-left: 5px;
      transition: color .8s ease-in-out;
    }

    &:hover {
      .nav__item__icon {
        fill: $red;
      }

      .nav__item__text {
        color: $red;
      }
    }
  }
}
