@import "../../scss/main.scss";

.container {
  align-items: center;
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: rem(1350);
  padding: rem(10) 5%;
  position: relative;
}

.logo {
  color: $white;
  font-family: $font-family--secondary;
  font-size: rem(32);
  font-weight: $font-weight--light;
  letter-spacing: rem(-1);
  text-decoration: none;
}

.nav {
  background-color: $white;
  bottom: rem(-78);
  display: flex;
  justify-content: center;
  left: 0;
  padding: rem(31) 0;
  position: absolute;
  width: 100%;
  z-index: 9;

  @media (min-width: $medium) {
    background-color: transparent;
    bottom: 0;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 1;
  }

  &__item {
    align-items: center;
    display: flex;
    margin-right: rem(30);
    text-decoration: none;

    &:last-of-type {
      margin-right: 0;
    }

    &__icon {
      fill: $dark;
      transition: fill .8s ease-in-out;

      @media (min-width: $medium) {
        fill: $white;
      }
    }

    &__text {
      color: $dark;
      display: block;
      font-family: $font-family--default;
      font-size: rem(15);
      font-weight: $font-weight--light;
      margin: 0 rem(5);
      transition: color .8s ease-in-out;

      @media (min-width: $medium) {
        color: $white;
      }
    }

    &__circle {
      align-items: center;
      background-color: $red;
      border-radius: 50%;
      color: $white;
      display: flex;
      font-family: $font-family--default;
      font-size: rem(11);
      font-weight: $font-weight--light;
      height: rem(18);
      justify-content: center;
      line-height: 0;
      position: relative;
      text-align: center;
      top: rem(2);
      width: rem(18);
    }

    &:hover {
      .nav__item__icon {
        fill: $red;
      }

      .nav__item__text {
        color: $red;
      }
    }
  }

  &__mobile-icon {
    fill: $white;
    font-size: rem(25);
  }
}
