@import '../../scss/main.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background: $blue;

  @media(min-width: $large) {
    padding: 10px 10%;
  }
}

.logo {
  font-family: $font-family--secondary;
  font-weight: $font-weight--light;
  font-size: 32px;
  letter-spacing: -1px;
  color: #fff;
  text-decoration: none;
}

.header__button {
  &--favourites {
    fill: $white;
  }
}
