@import '../../scss/main.scss';

.container {
  width: 100%;
  height: calc(100vh - 52px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  text-align: center;
}

.icon {
  fill: $white;
  font-size: 150px;
  margin-bottom: 15px;
}

.message {
  color: $white;
  font-family: $font-family--default;
  font-weight: $font-weight--regular;
  font-size: 21px;
  max-width: 320px;
  line-height: 28px;
}

.button {
  border: 0;
  outline: none;
  font-family: $font-family--default;
  background: $red;
  color: $white;
  padding: 10px 20px;
  border-radius: $border-radius;
  display: block;
  text-decoration: none;
  font-size: 19px;
  max-width: 180px;
  margin: 20px auto 0;

  &:hover {
    background: darken($red, 5%);
  }
}
