@import '../../scss/main.scss';

.container {
  align-items: center;
  display: flex;
  height: calc(100vh - 130px);
  justify-content: center;
  width: 100%;
}

.info {
  text-align: center;
}

.icon {
  fill: $white;
  font-size: rem(150);
  margin-bottom: rem(15);
}

.message {
  color: $white;
  font-family: $font-family--default;
  font-size: rem(21);
  font-weight: $font-weight--regular;
  line-height: rem(28);
  max-width: rem(320);
}

.button {
  @extend %button;
  background: $red;
  color: $white;
  display: block;
  font-family: $font-family--default;
  font-size: rem(19);
  margin: rem(20) auto 0;
  max-width: rem(180);
  padding: rem(10) rem(20);
  text-decoration: none;

  &:hover {
    background: darken($red, 5%);
  }
}
