@import '../../scss/main.scss';

.container {
  align-items: center;
  background: $black-two;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

.input {
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  font-family: $font-family--default;
  max-width: 600px;
  outline: none;
  padding: 10px 15px;
  width: 90%;
}
