@import '../../scss/main.scss';

.container {
  align-items: center;
  background: $black-two;
  display: flex;
  justify-content: center;
  padding: rem(20) 0;
  width: 100%;
}

.input {
  border-radius: $border-radius;
  border: none;
  box-sizing: border-box;
  font-family: $font-family--default;
  max-width: rem(600);
  outline: none;
  padding: rem(10) rem(15);
  width: 90%;
}
