@import '../../scss/main.scss';

.item {
  align-items: center;
  background-color: $dark--two;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: rem(80);
  justify-content: center;
  margin-right: rem(30);
  transition: background-color .8s ease-in-out;
  width: rem(80);

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    background-color: $red;
    cursor: pointer;
  }
}

.icon {
  fill: $white;
  font-size: rem(29);
}

.name {
  color: $white;
  font-family: $font-family--secondary;
  font-size: rem(17);
  font-weight: $font-weight--light;
  margin: rem(9) 0 0 0;
}
