@import '../../scss/main.scss';

.item {
  align-items: center;
  background: $dark--two;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  margin-right: 30px;
  transition: background .8s ease-in-out;
  width: 80px;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    background: $red;
    cursor: pointer;
  }
}

.icon {
  fill: $white;
  font-size: 29px;
}

.name {
  color: $white;
  font-family: $font-family--secondary;
  font-size: 17px;
  font-weight: $font-weight--light;
  margin: 9px 0 0 0;
}
